* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.firstContainer {
    height: 35%;
    background:  url("/Media/riyadh.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.txt {
    border-radius: 1.5rem;
    background-color: hsl(191, 71%, 32%);
    color: #f2f2f2;
    
}
.txt h6 {
    font-size: .8rem;
    width: 100%;

}


#select {
    background-color: #13334080;
    color: #ffffff;
    outline: none;
    border: none;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1rem;
    font-weight: bold;   
}
.secendContainer {
    background: url("/Media/quran.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    background-position-y: bottom;
    width: 100%;
    height: 65%;
}
.timesBos {
    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.timesBos div {
    height: 3rem;
    background-color: #EDE0CE;
    margin-bottom: .9rem;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #49443f;
}
.timesBos div span {
    color: #A66B56;
}